<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="Content/bootstrap.min.css" rel="stylesheet">
    <title>WhiteBoard</title>
</head>
<body>
    <div>
        <a href="/">Grades</a>
        <a href="/Summary">Summary</a>
        <a href="/About">About</a>
    </div>


    <div class="container">
        <h1>Welcome to WhiteBoard!</h1>
        @RenderBody()
    </div>
</body>
</html>
