@{
    Layout = "Views/_Layout.cshtml";
}

<div>
    Mike Zhukovskiy
</div>
<p>
    WhiteBoard is an online gradebook built with the <a href="http://www.nancyfox.org"></a>Nancy</a> framework,<br />
    using <a href="http://sqlite.org/">SQLite</a> for the persistence layer,<br />
    and the <a href="http://www.toptensoftware.com/petapoco/">PetaPoco</a> object-relational mapper.<br />
    I chose these, because they are all light-weight solutions, appropriate for a one page app.
</p>