@{
    Layout = "Views/_Layout.cshtml";
}

<p>
    Author: Mike Zhukovskiy
</p>
<p>
    WhiteBoard is an online gradebook built with the <a href="http://www.nancyfx.org">Nancy</a> framework,
    using <a href="http://sqlite.org/">SQLite</a> for the persistence layer,
    and the <a href="http://www.toptensoftware.com/petapoco/">PetaPoco</a> object-relational mapper.<br />
    I chose these, because they are all light-weight solutions, appropriate for a one page app.
</p>